<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ez-Park - Dashboard</title>
    {% include "base.html" %}
</head>

<body class="bg-style1">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <b class="navbar-brand mr-auto text-info font-weight-bold">Ez-Park</b>

        <div class="justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/register/" id="sign-out">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/" id="sign-out">Login</a>
                </li>
            </ul>    
        </div>
    </nav>
    

    <div id="msg-animated" class="text-center h2">   
        <b class="">Welcome To</b><br>
        <b class="">EZ-Park</b><br>
        <b class="">Give you ease find parking area</b>
    </div>
    
</body>
<script>
    $("msg-animated").animate(() => {

    })
</script>


</html>