<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/custom.css"> -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="bg-purple">
    <a href="/register/">Register</a>   
    <div class="container">
            {% for i in list_arr %}
            <div class="card">
                <div class="card-header">
                    <b>Name:</b>
                    <p>{{ i.name }}</p>
                </div>
                <div class="card-body">
                    <b>Email</b>
                    <p>{{ i.email }}</p>
                    <b>Phone</b>
                    <p>{{ i.phone }}</p>
                </div>
            </div>
            <br>
            {% empty %}
            <div class="card">
                <div class="card-header text-center">
                    <b>No Data</b>
                </div>
            </div>
            {% endfor %}
    </div> 
   
</body>
</html>