<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

    <script src="../assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
</head>

<body class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <b class="navbar-brand mr-auto text-info font-weight-bold">
            <img src="../assets/img/Logo.png" width="200" height="80" alt="">
        </b>
    
        <div class="justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="listbook.html">List Booking<span class="badge badge-light bg-badge text-white">5</span></a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link text-light" href="dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="bg-dark text-light nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, Joshua
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-primary" href="#">Edit Profile</a>
                            <br>
                            <a class="bg-danger text-white text-center nav-link" href="../index.html" id="sign-out">Sign Out</a>
                        </div>
                    </div>
                    
                </li>
            </ul>    
        </div>
    </nav>
    <br>
    <div class="h2 text-center text-primary">Place You Might Be Want To Choose</div>
    <br>
    <div class="container">
        <div class="row">
                <a href="park.html">
                    <div class="card mx-2">
                        <div class="card-header">
                            <img src="../assets//img/cp.jpg" height="200" width="200">
                        </div>
                        <div class="card-body">
                                <div class="text-center text-secondary h4">
                                    Central Park
                                </div>
                        </div>
                    </div>
                </a>
               
                <a href="park.html">
                    <div class="card mx-2">
                        <div class="card-header">
                            <img src="../assets//img/ta.jpg" height="200" width="200">
                        </div>
                        <div class="card-body">
                                <div class="text-center text-secondary h4">
                                    Taman Anggrek
                                </div>
                        </div>
                    </div>
                </a>

                <a href="park.html">
                    <div class="card mx-2">
                        <div class="card-header">
                            <img src="../assets//img/ep.jpg" height="200" width="200">
                        </div>
                        <div class="card-body">
                                <div class="text-center text-secondary h4">
                                    Emporium Pluit
                                </div>
                        </div>
                    </div>
                </a>

                <a href="park.html">
                    <div class="card mx-2">
                        <div class="card-header">
                            <img src="../assets//img/pv.jpg" height="200" width="200">
                        </div>
                        <div class="card-body">
                                <div class="text-center text-secondary h4">
                                        Pluit Village
                                </div>
                        </div>
                    </div>
                </a>
        </div>
        
        <br>

        <div class="row">

                <a href="park.html">
                    <div class="card mx-2">
                        <div class="card-header">
                            <img src="../assets//img/pj.jpg" height="200" width="200">
                        </div>
                        <div class="card-body">
                                <div class="text-center text-secondary h4">
                                        Pluit Junction
                                </div>
                        </div>
                    </div>
                </a>

                <a href="park.html">
                <div class="card mx-2">
                    <div class="card-header">
                        <img src="../assets//img/bw.jpg" height="200" width="200">
                    </div>
                    <div class="card-body">
                            <div class="text-center text-secondary h4">
                                    Bay Walk
                            </div>
                    </div>
                </div>
            </a>

                <a href="park.html">
                <div class="card mx-2">
                    <div class="card-header">
                        <img src="../assets//img/gi.jpg" height="200" width="200">
                    </div>
                    <div class="card-body">
                            <div class="text-center text-secondary h4">
                               Grand Indonesia
                            </div>
                    </div>
                </div>
            </a>

                <a href="park.html">
                <div class="card mx-2">
                    <div class="card-header">
                        <img src="../assets//img/ns.jpg" height="200" width="200">
                    </div>
                    <div class="card-body">
                            <div class="text-center text-secondary h4">
                                Neo Soho
                            </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    <footer>
        <div class="section bg-light text-center p-5">
            <p class="text-muted">Copyright © 2020 Ez-Park. All rights reserved. </p>
        </div>
    </footer>
</body>
</html>