<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ez-Park - Main Page</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

    <script src="./assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
</head>

<body class="">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <b class="navbar-brand mr-auto text-info font-weight-bold">Ez-Park</b>

        <div class="justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/register/" id="sign-out">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/" id="sign-out">Login</a>
                </li>
            </ul>    
        </div>
    </nav>


    <section>
        <div class="container">
            <br><br>
            <div id="msg-animated" class="h1 section-title text-center mt-5">   
                <b class="text-primary">Welcome To</b><br>
                <b class="text-primary">EZ-Park</b><br>
                <b class="text-primary">Give you ease find parking area</b>
            </div>
            <div class="m-5 p-5">
                <div class="row text-center p-5 m-5">
                    <div class="col-lg-6">
                        <h2 class="text-left"> Pick a Slot</h2>  
                        <p class="h4 text-muted text-left">
                            Choose and Book Available Parking Slot 
                        </p>    
                    </div>
                    <div class="col-lg-6">
                            <button id="parking-slot" class="box rounded bg-success border text-center text-white h3" data-toggle="modal" data-target="#modal-book" >
                                1
                            </button>
                    </div>
                </div>
        
                <div class="row text-center p-5 m-5">
                    <div class="col-lg-6">
                        <img src="../assets//img/" height=250px>
                    </div>
                    <div class="col-lg-6">
                        <br><br><br>
                        <h2 class="text-left">Upload data ke Nistris</h2>
                        <p class="h4 text-muted text-left">
                        Data yang ingin dikalkulasi di upload ke Nistris
                        </p> 
                    </div>
                </div>
                
                <div class="row text-center p-5 m-5">
                    <div class="col-lg-6">
                        <br><br><br>
                        <h2 class="text-left">Ketahui keuntungan toko Anda dengan 1 klik</h2>
                        <p class="h4 text-muted text-left">
                        Semuanya tanpa Excel
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="./assets/images/landing-page-images/landing-3.png" height=250px>
                    </div>
                </div>
            </div>
        </div>
        </section>



</body>
<script>
    $('#msg-animated').css({opacity: 1.0, visibility: "visible"}).animate({opacity: 0}, 200);
</script>


</html>