<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Booking</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

    <script src="../assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
</head>
<body class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <b class="navbar-brand mr-auto text-info font-weight-bold">
            <img src="../assets/img/Logo.png" width="200" height="80" alt="">
        </b>
    
        <div class="justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="listbook.html">List Booking<span class="badge badge-light bg-badge text-white">5</span></a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link text-light" href="dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="bg-dark text-light nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, Joshua
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-primary" href="#">Edit Profile</a>
                            <br>
                            <a class="bg-danger text-white text-center nav-link" href="../index.html" id="sign-out">Sign Out</a>
                        </div>
                    </div>
                    
                </li>
            </ul>    
        </div>
    </nav>
    <br>

    <div class="my-3 h3 text-center text-primary">
        List Booking
    </div>
    <div class="justify-content-end row">
        <p class="text-primary h5 mr-2">Balance: Rp. 135.000</p>
        <button class="col-sm-2 ml-5 mr-5 btn btn-info" data-toggle="modal" data-target="#top-up" >Top-Up</button>
    </div>
    <br><br>
                
    <section class="container">
        <ul class="list-group" id="list_booking"></ul>
    </section>
    
    <!-- Modal -->
    <div class="modal fade" id="top-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center">Top Up</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="listbook.html" method="post" autocomplete="off">
                        <img src="../assets//img//QR.png" alt="">
                        <!-- <div class="form-group">
                            Total Price: 
                            <div class="text-center h3 text-info">Rp. 10.000</div>    
                        </div> -->
                        <br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
    
    <!-- Modal -->
    <!-- Modal Motor -->
    <div class="modal fade" id="modal-motor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Order Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="listbook.html" method="post" autocomplete="off">
                    <div class="form-group">
                        <label for="order-id">Order ID</label>
                        <strong id="order-id">
                            <input type="text" class="form-control" name="kendaraan" id="kendaraan" value="87ecc236-919b-4183-a382-4f569923950f" readonly>
                        </strong>
                    </div>

                    <div class="form-group">
                        <label for="time-in">Time In</label>
                        <strong id="time-in">
                            <input type="text" class="form-control" name="kendaraan" id="motor-in" readonly>
                        </strong>
                    </div> 

                    <div class="form-group">
                        <label for="time-out">Time Out</label>
                        <strong id="time-out">
                            <input type="text" class="form-control" name="kendaraan" id="motor-out" readonly>
                        </strong>
                    </div> 

                    <div class="form-group">
                        <label for="kendaraan">Kendaraan</label>
                        <input type="text" class="form-control" name="kendaraan" id="kendaraan" value="Motor" readonly>    
                    </div>

                    <div class="form-group">
                        <label for="floor">Floor</label>
                        <input type="text" class="form-control" name="floor" id="floor" value="1" readonly>    
                    </div>

                    <div class="form-group">
                        <label for="slot">Slot</label>
                        <input type="text" class="form-control" name="slot" id="slot" value="2" readonly>    
                    </div>

    
                    <div class="form-group">
                        <label for="plat">License Plate</label>
                        <input type="text" placeholder="License Plate" class="form-control" name="plat" value="B6073WJF" id="plat" readonly>    
                    </div>

                    <div class="form-group">
                        <label for="plat">Fees</label>
                        <input type="text" placeholder="License Plate" class="form-control" name="plat" value="Rp. 10.000" id="plat" readonly>    
                    </div>
    
                    <div class="text-center">                
                        <button class="btn btn-lg btn-primary" onclick="return alert('Success');">Submit Payment</button>
                    </div>   
                </form>
            </div>
          </div>
        </div>
    </div>

    <!-- Modal Mobil -->
    <div class="modal fade" id="modal-mobil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center">Order Form</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="listbook.html" method="post" autocomplete="off">
                        <div class="form-group">
                            <label for="order-id">Order ID</label>
                            <strong id="order-id">
                                <input type="text" class="form-control" name="kendaraan" id="kendaraan" value="3885e5b5-fe99-4883-a1e7-ed7a41acb4e5" readonly>
                            </strong>
                        </div>
    
                        <div class="form-group">
                            <label for="time-in">Time In</label>
                            <strong id="time-in">
                                <input type="text" class="form-control" name="kendaraan" id="mobil-in" readonly>
                            </strong>
                        </div> 
    
                        <div class="form-group">
                            <label for="time-out">Time Out</label>
                            <strong id="time-out">
                                <input type="text" class="form-control" name="kendaraan" id="mobil-out" readonly>
                            </strong>
                        </div> 
    
                        <div class="form-group">
                            <label for="kendaraan">Kendaraan</label>
                            <input type="text" class="form-control" name="kendaraan" id="kendaraan" value="Mobil" readonly>    
                        </div>
    
                        <div class="form-group">
                            <label for="floor">Floor</label>
                            <input type="text" class="form-control" name="floor" id="floor" value="1" readonly>    
                        </div>
    
                        <div class="form-group">
                            <label for="slot">Slot</label>
                            <input type="text" class="form-control" name="slot" id="slot" value="5" readonly>    
                        </div>
                        
        
                        <div class="form-group">
                            <label for="plat">License Plate</label>
                            <input type="text" placeholder="License Plate" class="form-control" name="plat" value="B1602FAT" id="plat" readonly>    
                        </div>
    
                        <div class="form-group">
                            <label for="plat">Fees</label>
                            <input type="text" placeholder="License Plate" class="form-control" name="plat" value="Rp. 15.000" id="plat" readonly>    
                        </div>
        
                        <div class="text-center">                
                            <button class="btn btn-lg btn-primary" onclick="return alert('Success');">Submit Payment</button>
                        </div>   
                    </form>
                </div>
              </div>
            </div>
        </div>
    
</body>
<br><br><br><br><br><br><br>
<footer>
    <div class="section bg-light text-center p-5">
        <p class="text-muted">Copyright © 2020 Ez-Park. All rights reserved. </p>
    </div>
</footer>
<script src="../assets/js/frontend/listbook.js"></script>
</html>