<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Booking</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

    <script src="../assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
</head>
<body class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <b class="navbar-brand mr-auto text-info font-weight-bold">
            <img src="../assets/img/Logo.png" width="200" height="80" alt="">
        </b>
    
        <div class="justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="listbook.html">List Booking<span class="badge badge-light bg-badge text-white">5</span></a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link text-light" href="dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="bg-dark text-light nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, User
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="bg-danger text-white text-center nav-link" href="../index.html" id="sign-out">Sign Out</a>
                        </div>
                    </div>
                    
                </li>
            </ul>    
        </div>
    </nav>
    <br>

    <div class="my-3 h3 text-center text-primary">
        List Booking
    </div>
    <div class="justify-content-end row">
        <p class="text-primary h5 mr-2">Balance: Rp. 135.000</p>
        <button class="col-sm-2 ml-5 mr-5 btn btn-info" data-toggle="modal" data-target="#top-up" >Top-Up</button>
    </div>
    <br><br>
                
    <section class="container">
        <ul class="list-group" id="list_booking"></ul>
    </section>
    
    <!-- Modal -->

    <!-- Modal Topup -->
    <div class="modal fade" id="top-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center">Top Up</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item" id="BCA" onclick="return confirm_topup(this)">
                            <div class="media">
                                <img src="../assets/img/BCA.png" height="70" width="100" class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0">Bank BCA (Dicek Otomatis)</h5>
                                    <p class="text-muted">Hanya menerima dari Bank BCA <br> Metode pembayaran lebih mudah</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" id="Mandiri" onclick="return confirm_topup(this)">
                            <div class="media">
                                <img src="../assets/img/Mandiri.png" height="70" width="100" class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0">Bank Mandiri (Dicek Otomatis)</h5>
                                    <p class="text-muted">Menerima transfer dari semua Bank termasuk Bank Syariah <br> Metode pembayaran lebih mudah</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" id="BNI" onclick="return confirm_topup(this)">
                            <div class="media">
                                <img src="../assets/img/BNI.png" height="70" width="100" class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0">Bank BNI (Dicek Otomatis)</h5>
                                    <p class="text-muted">Hanya menerima dari Bank BNI <br> Metode pembayaran lebih mudah</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" id="BRI" onclick="return confirm_topup(this)">
                            <div class="media">
                                <img src="../assets/img/BRI.png" height="70" width="100" class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0">Bank BRI (Dicek Otomatis)</h5>
                                    <p class="text-muted">Hanya menerima dari Bank BRI <br> Metode pembayaran lebih mudah</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="confirm-btn" disabled value="Konfirmasi" class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-payment" data-dismiss="modal">
                </div>
              </div>
            </div>
        </div>
    
    <!-- Modal Confirm -->
    <div class="modal fade" id="modal-payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Pembayaran</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div id="media-confirm" class="media" id="media">
                    <img src="../assets/img/BCA.png" height="70" width="100" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0">Bank BCA (Dicek Otomatis)</h5>
                    </div>
                </div>
                <form action="listbook.html" method="post" autocomplete="off">
                    <div class="form-group">
                        <label for="order-id">No. Virtual Account</label>
                        <strong id="order-id">
                            <input type="text" class="form-control" name="kendaraan" id="kendaraan" value="122 08118880814" >
                        </strong>
                    </div>
                    <div class="form-group">
                        <label class="text-success">Dicek dalam 10 menit setelah pembayaran berhasil</label>
                        <label id="lbl-confirm" class="text-muted" >Hanya menerima dari Bank BCA</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-warning text-light" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Modal Mobil -->
    <div class="modal fade" id="modal-mobil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center">Order Form</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="listbook.html" method="post" autocomplete="off">
                        <div class="form-group">
                            <label for="order-id">Order ID</label>
                            <strong id="order-id">
                                <input type="text" class="form-control" name="kendaraan" id="kendaraan" value="3885e5b5-fe99-4883-a1e7-ed7a41acb4e5" readonly>
                            </strong>
                        </div>
    
                        <div class="form-group">
                            <label for="time-in">Time In</label>
                            <strong id="time-in">
                                <input type="text" class="form-control" name="kendaraan" id="mobil-in" readonly>
                            </strong>
                        </div> 
    
                        <div class="form-group">
                            <label for="time-out">Time Out</label>
                            <strong id="time-out">
                                <input type="text" class="form-control" name="kendaraan" id="mobil-out" readonly>
                            </strong>
                        </div> 
    
                        <div class="form-group">
                            <label for="kendaraan">Location</label>
                            <input type="text" class="form-control" name="kendaraan" id="kendaraan" value="Central Park" readonly>    
                        </div>
    
                        <div class="form-group">
                            <label for="floor">Floor</label>
                            <input type="text" class="form-control" name="floor" id="floor" value="1" readonly>    
                        </div>
    
                        <div class="form-group">
                            <label for="slot">Slot</label>
                            <input type="text" class="form-control" name="slot" id="slot" value="5" readonly>    
                        </div>
                        
        
                        <div class="form-group">
                            <label for="plat">License Plate</label>
                            <input type="text" placeholder="License Plate" class="form-control" name="plat" value="B1602FAT" id="plat" readonly>    
                        </div>
    
                        <div class="form-group">
                            <label for="plat">Fees</label>
                            <input type="text" placeholder="License Plate" class="form-control" name="plat" value="Rp. 5.000" id="plat" readonly>    
                        </div>
        
                        <div class="text-center">                
                            <button class="btn btn-lg btn-primary" onclick="return alert('Success');">Submit Payment</button>
                        </div>   
                    </form>
                </div>
              </div>
            </div>
        </div>
    
</body>
<footer class="footer">
    <div class="section bg-light text-center p-5">
        <p class="text-muted">Copyright © 2020 Ez-Park. All rights reserved. </p>
    </div>
</footer>

<script src="../assets/js/frontend/listbook.js"></script>
<script>
    function confirm_topup(e){
        // console.log($(e).hasClass("list-group-item"));
        $(".list-group-item").removeClass("bg-light")
        $(e).addClass("bg-light")
        // document.getElementById(this).className += "border-5 border-primary"
        document.getElementById("confirm-btn").removeAttribute("disabled");

        document.getElementById("media-confirm").innerHTML = 
        `   <img src="../assets/img/`+e.id+`.png" height="70" width="100" class="mr-3" alt="`+e.id+`">
            <div class="media-body">
                <h5 class="mt-0">Bank `+e.id+` (Dicek Otomatis)</h5>
            </div>
        `;
        
        document.getElementById("lbl-confirm").innerHTML = "Hanya menerima dari Bank "+e.id;
    }

</script>

</html>