<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parking Map</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

    <script src="../assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <b class="navbar-brand mr-auto text-info font-weight-bold">
            <img src="../assets/img/Logo.png" width="200" height="80" alt="">
        </b>
    
        <div class="justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="listbook.html">List Booking<span class="badge badge-light bg-badge text-white">5</span></a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link text-light" href="dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="bg-dark text-light nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, Joshua
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-primary" href="#">Edit Profile</a>
                            <br>
                            <a class="bg-danger text-white text-center nav-link" href="../index.html" id="sign-out">Sign Out</a>
                        </div>
                    </div>
                    
                </li>
            </ul>    
        </div>
    </nav>
    <br>
    
    
    <nav aria-label="Page navigation example">
        
        <div class="dropdown text-center my-5">
            <button id="btn-kendaraan" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kendaraan
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button id="btn-motor" class="dropdown-item" type="button">Motor</button>
              <div class="dropdown-divider"></div>
              <button id="btn-mobil" class="dropdown-item" type="button">Mobil</button>
            </div>
        </div>
         
    </nav>
    
    <!-- Content -->
    <div class="container">
            <div class="row d-none" id="list_motor"></div>
            <div class="row d-none" id="list_mobil"></div>
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center my-5">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
    
    <!-- Modal Motor -->
    <div class="modal fade" id="modal-motor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Booking Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="listbook.html" method="post" autocomplete="off">

                    <div class="form-group">
                        <label for="kendaraan">Kendaraan</label>
                        <input type="text" class="form-control" name="kendaraan" id="kendaraan" value="Motor - Rp. 2.000 / Jam" readonly>    
                    </div>

                    <div class="form-group">
                        <label for="floor">Floor</label>
                        <input type="text" class="form-control" name="floor" id="floor" value="1" readonly>    
                    </div>

                    <div class="form-group">
                        <label for="slot">Slot</label>
                        <input type="text" class="form-control" name="slot" id="slot" value="2" readonly>    
                    </div>

    
                    <div class="form-group">
                        <label for="plat">License Plate</label>
                        <input type="text" placeholder="License Plate" class="form-control" name="plat" value="B6073WJF" id="plat">    
                    </div>
    
                    <div class="text-center">                
                        <button class="btn btn-lg btn-primary" onclick="return alert('Success');">Submit</button>
                    </div>   
                </form>
            </div>
          </div>
        </div>
    </div>

    <!-- Modal Mobil -->
    <div class="modal fade" id="modal-mobil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Booking Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="listbook.html" method="post" autocomplete="off">

                    <div class="form-group">
                        <label for="kendaraan">Kendaraan</label>
                        <input type="text" class="form-control" name="kendaraan" id="kendaraan" value="Mobil - Rp. 3.000 / Jam" readonly>    
                    </div>

                    <div class="form-group">
                        <label for="floor">Floor</label>
                        <input type="text" class="form-control" name="floor" id="floor" value="1" readonly>    
                    </div>

                    <div class="form-group">
                        <label for="slot">Slot</label>
                        <input type="text" class="form-control" name="slot" id="slot" value="5" readonly>    
                    </div>

    
                    <div class="form-group">
                        <label for="plat">License Plate</label>
                        <input type="text" placeholder="License Plate" class="form-control" name="plat" value="B1602FAT" id="plat">    
                    </div>
    
                    <div class="text-center">                
                        <button class="btn btn-lg btn-primary" onclick="return alert('Success');">Submit</button>
                    </div>   
                </form>
            </div>
          </div>
        </div>
    </div>




</body>

<footer>
    <div class="section bg-light text-center p-5">
        <p class="text-muted">Copyright © 2020 Ez-Park. All rights reserved. </p>
    </div>
</footer>
<script src="../assets/js/frontend/parking_map.js"></script>
</html>