<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parking Map</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/park.js"></script>
</head>

<body class="bg-style1">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mr-auto text-info font-weight-bold" href="#">EZPark</a>
        <div class="justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Parking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register.html">Sign Up</a>
                </li>
            </ul>    
        </div>
    </nav>

    <!-- Card -->
    <div class="card bg-light m-4 p-2">
        <div class="card-header">
            <div class="h4 text-center font-weight-bold">Parking Map</div>
            <select id="location">
                <option value="no-select" selected>Select Location</option>
                <option value="mall-ciputra">Mall Ciputra</option>
                <option value="mall-taman-anggrek">Mall Taman Anggrek</option>
            </select>
        </div>
        
        <div class="card-body">
            <div class="row" id="park-load" >
                <!-- Load Data -->
            </div>
        </div>

        <div class="card-footer">
            <b class="text-primary" id="available-amount"></b>
            <br>
            <b class="text-primary" id="date-now"></b>
        </div>

    </div>

    <!-- Card -->
    <div class="card bg-light m-4 p-2">
        <div class="card-header bg-primary">
            <div class="h5 text-center text-white">Booking</div>
        </div>
        
        <div class="card-body">
            <div class="form-group">
                <label for="input-book-number">Input Booking Number</label>
                <input type="text" class="form-control" id="input-book-number" placeholder="Booking Number">
            </div>
        </div>

        <div class="card-footer text-center">
            <button class="btn btn-success btn-block">Get Booking Ticket</button>
        </div>
    </div>

</body>
</html>